<div class="btn-cadastar">
    <a routerLink="/turmas/cadastro">Cadastrar</a>
</div>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sigla</th>
        </tr>
    </thead>
    <tbody>
        @for (turma of turmas; track turma) {
            <tr>
                <td>{{turma.nome}}</td> 
                <td>{{turma.sigla}}</td>
                <td>
                    <button (click)="apagar(turma)">Apagar</button>
                </td>
            </tr>
        }
    </tbody>




</table>
