<div class="botao-cadastro">
    <botao texto="cadastro" routerLink="/alunos/cadastro"></botao>
</div>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Média</th>
            <th>Frequencia</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(aluno of alunos; track aluno){
            <tr>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.media.toFixed(2).replace(".",",")}}</td>
                <td>{{aluno.frequencia}}%</td>
                <td>{{aluno.status}}</td>
                <td>
                    <botao texto="Editar" (click)="editar(aluno)" tipo="aviso"></botao>
                    <botao texto="Apagar" (click)="apagar(aluno)" tipo="perigo"></botao>
                </td>
            </tr>
        }
    </tbody>
</table>